h1{
    font-size: xxx-large;
    text-decoration: underline;
    text-decoration-color: green;
    color: forestgreen;
    font-family:'Lemonada', cursive;
}
footer{
    align-content: baseline;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}


